# Resolução Checkpoint 1

## Bibliotecas

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Dados

In [2]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [3]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [4]:
dados_paises_covid.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

- Ajustes

In [5]:
dados_paises_covid.rename(columns={"Province/State": "province", 
                                   "Country/Region": "country"}, 
                          inplace=True)

In [6]:
dados_paises_covid_dead.rename(columns={"Province/State": "province", 
                                        "Country/Region": "country"}, 
                               inplace=True)

In [7]:
dados_paises_covid_dead.head()

,province,country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933

In [8]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                             var_name = 'date', 
                                             value_name = 'infected')

In [9]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                                       var_name = 'date', 
                                                       value_name = 'dead')

In [10]:
dados_paises_covid

,province,country,Lat,Long,date,infected
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,3/9/23,703228
330323,NaN,Winter Olympics 2022,39.904200,116.407400,3/9/23,535
330324,NaN,Yemen,15.552727,48.516388,3/9/23,11945
330325,NaN,Zambia,-13.133897,27.849332,3/9/23,343135
330326,NaN,Zimbabwe,-19.015438,29.154857,3/9/23,264276

In [11]:
dados_paises_covid.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
infected      int64
dtype: object

- Datas

In [12]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'], 
                                            infer_datetime_format='True')

In [13]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'], 
                                                 infer_datetime_format='True')

In [14]:
dados_paises_covid_dead

       province               country        Lat        Long       date  dead
0           NaN           Afghanistan  33.939110   67.709953 2020-01-22     0
1           NaN               Albania  41.153300   20.168300 2020-01-22     0
2           NaN               Algeria  28.033900    1.659600 2020-01-22     0
3           NaN               Andorra  42.506300    1.521800 2020-01-22     0
4           NaN                Angola -11.202700   17.873900 2020-01-22     0
...         ...                   ...        ...         ...        ...   ...
330322      NaN    West Bank and Gaza  31.952200   35.233200 2023-03-09  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400 2023-03-09     0
330324      NaN                 Yemen  15.552727   48.516388 2023-03-09  2159
330325      NaN                Zambia -13.133897   27.849332 2023-03-09  4057
330326      NaN              Zimbabwe -19.015438   29.154857 2023-03-09  5671

[330327 rows x 6 columns]

In [15]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

In [16]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead, 
                       on = ['province', 'country',	'Lat',	'Long',	'date'], 
                       how = 'inner')

In [17]:
dados_covid

,province,country,Lat,Long,date,infected,dead
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0
...,...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

## Questão 1

In [18]:
dados_covid['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'US',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [19]:
len(dados_covid['country'].unique()) - 5

196

## Questão 2

In [20]:
data_maxima = np.max(dados_covid['date'])
data_maxima

Timestamp('2023-03-09 00:00:00')

In [21]:
paises_filtro = ['Brazil', 'US', 'Italy']

In [22]:
dados_covid[(dados_covid['date'] == '2023-03-09') & \
            (dados_covid['country'].isin(paises_filtro))]

       province country       Lat       Long       date   infected     dead
330069      NaN  Brazil -14.23500  -51.92530 2023-03-09   37076053   699276
330192      NaN   Italy  41.87194   12.56738 2023-03-09   25603510   188322
330298      NaN      US  40.00000 -100.00000 2023-03-09  103802702  1123836

In [23]:
dados_covid[(dados_covid['date'] == data_maxima) & \
            (dados_covid['country'].isin(paises_filtro))]

       province country       Lat       Long       date   infected     dead
330069      NaN  Brazil -14.23500  -51.92530 2023-03-09   37076053   699276
330192      NaN   Italy  41.87194   12.56738 2023-03-09   25603510   188322
330298      NaN      US  40.00000 -100.00000 2023-03-09  103802702  1123836

## Questão 3

In [24]:
dados_covid[dados_covid['country'] == 'Canada']

,province,country,Lat,Long,date,infected,dead
40,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,0
41,British Columbia,Canada,53.7267,-127.6476,2020-01-22,0,0
42,Diamond Princess,Canada,0.0000,0.0000,2020-01-22,0,0
43,Grand Princess,Canada,0.0000,0.0000,2020-01-22,0,0
44,Manitoba,Canada,53.7609,-98.8139,2020-01-22,0,0
...,...,...,...,...,...,...,...
330089,Prince Edward Island,Canada,46.5107,-63.4168,2023-03-09,56523,93
330090,Quebec,Canada,52.9399,-73.5491,2023-03-09,1320325,18160
330091,Repatriated Travellers,Canada,NaN,NaN,2023-03-09,13,0
330092,Saskatchewan,Canada,52.9399,-106.4509,2023-03-09,153651,1890
330093,Yukon,Canada,64.2823,-135.0000,2023-03-09,4989,32

In [25]:
dados_covid.sort_values('infected', ascending = False)

,province,country,Lat,Long,date,infected,dead
330298,NaN,US,40.00000,-100.000000,2023-03-09,103802702,1123836
330009,NaN,US,40.00000,-100.000000,2023-03-08,103755771,1123246
329720,NaN,US,40.00000,-100.000000,2023-03-07,103690910,1122516
329431,NaN,US,40.00000,-100.000000,2023-03-06,103655539,1122181
328853,NaN,US,40.00000,-100.000000,2023-03-04,103650837,1122172
...,...,...,...,...,...,...,...
242152,NaN,Tuvalu,-7.10950,177.649300,2022-05-08,0,0
109799,Channel Islands,United Kingdom,49.37230,-2.364400,2021-02-04,0,0
24318,Diamond Princess,Canada,0.00000,0.000000,2020-04-15,0,1
168970,NaN,Nauru,-0.52280,166.931500,2021-08-28,0,0
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0

In [26]:
dados_filtrados = dados_covid[dados_covid['date'] == data_maxima]

In [27]:
dados_filtrados

,province,country,Lat,Long,date,infected,dead
330038,NaN,Afghanistan,33.939110,67.709953,2023-03-09,209451,7896
330039,NaN,Albania,41.153300,20.168300,2023-03-09,334457,3598
330040,NaN,Algeria,28.033900,1.659600,2023-03-09,271496,6881
330041,NaN,Andorra,42.506300,1.521800,2023-03-09,47890,165
330042,NaN,Angola,-11.202700,17.873900,2023-03-09,105288,1933
...,...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

In [28]:
dados_filtrados.sort_values('infected', ascending = False)

,province,country,Lat,Long,date,infected,dead
330298,NaN,US,40.000000,-100.000000,2023-03-09,103802702,1123836
330186,NaN,India,20.593684,78.962880,2023-03-09,44690738,530779
330169,NaN,France,46.227600,2.213700,2023-03-09,38618509,161512
330173,NaN,Germany,51.165691,10.451526,2023-03-09,38249060,168935
330069,NaN,Brazil,-14.235000,-51.925300,2023-03-09,37076053,699276
...,...,...,...,...,...,...,...
330213,NaN,MS Zaandam,0.000000,0.000000,2023-03-09,9,2
330313,Pitcairn Islands,United Kingdom,-24.376800,-128.324200,2023-03-09,4,0
330199,NaN,"Korea, North",40.339900,127.510100,2023-03-09,1,6
330306,Channel Islands,United Kingdom,49.372300,-2.364400,2023-03-09,0,0
330080,Diamond Princess,Canada,0.000000,0.000000,2023-03-09,0,1

In [29]:
dados_filtrados['sum'] = dados_filtrados['infected']

<ipython-input-29-6aa09fbc9b5e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_filtrados['sum'] = dados_filtrados['infected']

In [30]:
dados_filtrados.groupby('country') \
               .agg(infected = pd.NamedAgg('infected', 'sum'),
                    fake = pd.NamedAgg('sum', 'sum'))

                      infected    fake
country
Afghanistan             209451  209451
Albania                 334457  334457
Algeria                 271496  271496
Andorra                  47890   47890
Angola                  105288  105288
...                        ...     ...
West Bank and Gaza      703228  703228
Winter Olympics 2022       535     535
Yemen                    11945   11945
Zambia                  343135  343135
Zimbabwe                264276  264276

[201 rows x 2 columns]

In [31]:
dados_filtrados = dados_filtrados.drop(columns = ['sum'])

In [32]:
dados_filtrados

,province,country,Lat,Long,date,infected,dead
330038,NaN,Afghanistan,33.939110,67.709953,2023-03-09,209451,7896
330039,NaN,Albania,41.153300,20.168300,2023-03-09,334457,3598
330040,NaN,Algeria,28.033900,1.659600,2023-03-09,271496,6881
330041,NaN,Andorra,42.506300,1.521800,2023-03-09,47890,165
330042,NaN,Angola,-11.202700,17.873900,2023-03-09,105288,1933
...,...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

In [33]:
dados_filtrados.groupby('country')[['infected', 'dead']].sum() \
               .sort_values('infected', ascending = False) \
               .head(10)

                 infected     dead
country
US              103802702  1123836
India            44690738   530779
France           39866718   166176
Germany          38249060   168935
Brazil           37076053   699276
Japan            33320438    72997
Korea, South     30615522    34093
Italy            25603510   188322
United Kingdom   24658705   220721
Russia           22075858   388478

In [34]:
dados_filtrados.groupby('country') \
               .agg(infected = pd.NamedAgg('infected', 'sum'),
                    dead = pd.NamedAgg('dead', 'sum'))

                      infected  dead
country
Afghanistan             209451  7896
Albania                 334457  3598
Algeria                 271496  6881
Andorra                  47890   165
Angola                  105288  1933
...                        ...   ...
West Bank and Gaza      703228  5708
Winter Olympics 2022       535     0
Yemen                    11945  2159
Zambia                  343135  4057
Zimbabwe                264276  5671

[201 rows x 2 columns]

In [35]:
dados_filtrados.groupby('country')[['infected', 'dead']].sum() \
               .sort_values('dead', ascending = False) \
               .head(10)

                 infected     dead
country
US              103802702  1123836
Brazil           37076053   699276
India            44690738   530779
Russia           22075858   388478
Mexico            7483444   333188
United Kingdom   24658705   220721
Peru              4487553   219539
Italy            25603510   188322
Germany          38249060   168935
France           39866718   166176

## Questão 4

In [36]:
dados_covid['dead'] / dados_covid['infected']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
            ...
330322    0.008117
330323    0.000000
330324    0.180745
330325    0.011823
330326    0.021459
Length: 330327, dtype: float64

In [37]:
dados_covid.head(3)

  province      country       Lat       Long       date  infected  dead
0      NaN  Afghanistan  33.93911  67.709953 2020-01-22         0     0
1      NaN      Albania  41.15330  20.168300 2020-01-22         0     0
2      NaN      Algeria  28.03390   1.659600 2020-01-22         0     0

In [38]:
dados_covid[dados_covid['date'] == data_maxima].head()

       province      country       Lat       Long       date  infected  dead
330038      NaN  Afghanistan  33.93911  67.709953 2023-03-09    209451  7896
330039      NaN      Albania  41.15330  20.168300 2023-03-09    334457  3598
330040      NaN      Algeria  28.03390   1.659600 2023-03-09    271496  6881
330041      NaN      Andorra  42.50630   1.521800 2023-03-09     47890   165
330042      NaN       Angola -11.20270  17.873900 2023-03-09    105288  1933

In [39]:
dados_covid[dados_covid['date'] == data_maxima].reset_index(drop=True).head()

  province      country       Lat       Long       date  infected  dead
0      NaN  Afghanistan  33.93911  67.709953 2023-03-09    209451  7896
1      NaN      Albania  41.15330  20.168300 2023-03-09    334457  3598
2      NaN      Algeria  28.03390   1.659600 2023-03-09    271496  6881
3      NaN      Andorra  42.50630   1.521800 2023-03-09     47890   165
4      NaN       Angola -11.20270  17.873900 2023-03-09    105288  1933

In [40]:
# filtrar data maxima
dados_filtrados = dados_covid[dados_covid['date'] == data_maxima].reset_index(drop=True)

In [41]:
dados_filtrados.head()

  province      country       Lat       Long       date  infected  dead
0      NaN  Afghanistan  33.93911  67.709953 2023-03-09    209451  7896
1      NaN      Albania  41.15330  20.168300 2023-03-09    334457  3598
2      NaN      Algeria  28.03390   1.659600 2023-03-09    271496  6881
3      NaN      Andorra  42.50630   1.521800 2023-03-09     47890   165
4      NaN       Angola -11.20270  17.873900 2023-03-09    105288  1933

In [42]:
# agrupar paises mais de 1 provincia
dados_agrupados = dados_filtrados.groupby('country')[['infected', 'dead']].sum().reset_index()

In [43]:
dados_agrupados.head()

       country  infected  dead
0  Afghanistan    209451  7896
1      Albania    334457  3598
2      Algeria    271496  6881
3      Andorra     47890   165
4       Angola    105288  1933

In [44]:
# criar coluna taxa mortalidade
dados_agrupados['mort_rate'] = dados_agrupados['dead'] / dados_agrupados['infected']

In [45]:
dados_agrupados.sort_values('mort_rate', ascending = False).head(12)

                    country  infected    dead  mort_rate
93             Korea, North         1       6   6.000000
107              MS Zaandam         9       2   0.222222
198                   Yemen     11945    2159   0.180745
169                   Sudan     63829    5017   0.078601
174                   Syria     57467    3164   0.055058
164                 Somalia     27324    1361   0.049810
141                    Peru   4487553  219539   0.048922
54                    Egypt    515759   24812   0.048108
117                  Mexico   7483444  333188   0.044523
22   Bosnia and Herzegovina    401729   16280   0.040525
0               Afghanistan    209451    7896   0.037699
102                 Liberia      8090     295   0.036465

## Questão 5

- Letra a

In [46]:
dados_resumo_paises = dados_covid.groupby(['date', 'country']) \
                                 .agg(infected = pd.NamedAgg('infected', 'sum'),
                                      dead = pd.NamedAgg('dead', 'sum')) \
                                 .reset_index()

In [47]:
selected_country = ['Brazil', 'US']

In [48]:
dados_resumo_paises_filtrados = dados_resumo_paises[dados_resumo_paises['country'].isin(selected_country)]

In [49]:
dados_resumo_paises_filtrados = dados_resumo_paises_filtrados.pivot(index = 'date', 
                                                                    columns='country', 
                                                                    values='infected')

In [50]:
dados_resumo_paises_filtrados.pivot(index = 'date', columns='country', values='infected')

KeyError: ignored

In [ ]:
dados_resumo_paises_filtrados.plot.line()

- Letra b

In [ ]:
dados_resumo_paises_filtrados = dados_resumo_paises[dados_resumo_paises['country'].isin(selected_country)]

In [ ]:
dados_resumo_paises_filtrados = dados_resumo_paises_filtrados.pivot(index = 'date', 
                                                                    columns='country', 
                                                                    values='dead')

In [ ]:
dados_resumo_paises_filtrados.plot.line()

- Letra c

In [ ]:
selected_country = ['Brazil', 'US']

In [ ]:
#date_filter = '2023-03-09'

In [ ]:
dados_resumo_paises_filtrados = dados_resumo_paises[(dados_resumo_paises['date'] == data_maxima) & \
                                                    (dados_resumo_paises['country'].isin(selected_country))]

In [ ]:
dados_resumo_paises_filtrados.plot.bar(x = 'country', y = 'infected')

- Letra d

In [ ]:
dados_resumo_paises_filtrados.plot.bar(x = 'country', y = 'dead')

- Letra e

In [ ]:
dados_resumo_paises_filtrados['taxa_mortalidade'] = dados_resumo_paises_filtrados['dead'] / dados_resumo_paises_filtrados['infected']

In [ ]:
dados_resumo_paises_filtrados

In [ ]:
dados_resumo_paises_filtrados.plot.bar(x = 'country', y = 'taxa_mortalidade')